.banner {
  background: url("./images/banner.gif");
  /* background-color: brown; */
  background-position: 50% 50%;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-textos {
  width: 30%;
  height: 180px;
  color: white;
  /* background-color: white; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; /* center - space-between - space-around - space-evenly*/
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.video {
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 35px !important;
}

h2 {
  font-size: 30px !important;
  margin: 0 !important;
}

.contenido-menu {
  background-color: rgb(136, 101, 45);
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.slider {
  /* background-color: coral; */
  width: 40%;
  height: 90%;
}

.slogan {
  background-color: rgb(136, 101, 45);
}

#carousel-postres {
  height: 100% !important;
  width: 100% !important;
}

#carousel-cafes {
  height: 100% !important;
  width: 100% !important;
}

.contenedor-items-slider {
  width: 100% !important;
  height: 100% !important;
}

#cheesecake {
  width: 65%;
}
#medialuna {
  width: 70%;
}
#brownie {
  width: 65%;
}
#tiramisu {
  width: 65%;
}
#capu {
  width: 35%;
}
#expresso {
  width: 60%;
}
#cafejava {
  width: 80%;
}
#latte {
  width: 60%;
}
#moka {
  width: 70%;
}

.image {
  width: 70% !important;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 30%;
  scale: 135%;
  font-style: oblique;
}

@media (max-width: 600px) {
  .contenedor-textos {
    width: 80%;
  }

  .contenido-menu {
    flex-direction: column;
    height: 900px;
  }

  .slider {
    width: 100%;
  }
}

footer {
  background-color: rgb(19, 20, 21);
  color: white;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

footer p {
  padding-bottom: 20px;
  margin: 0;
}
